.carousel {
    overflow: hidden;
    position: relative;
    .item {
        opacity: 0;
        transition: 1s linear;
        &.loaded {
            opacity: 1;
        }
    }
}

.prev_button {
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    background: none;
    color: rgba(255, 255, 255, 0.605);
    box-shadow: none;
    font-size: 3rem;
    font-weight:lighter;
    border: transparent;
    cursor: pointer;
}

.next_button {
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
    background: none;
    color: rgba(255, 255, 255, 0.605);
    box-shadow: none;
    font-size: 3rem;
    font-weight:lighter;
    border: transparent;
    cursor: pointer;
}