.carousel {
    overflow: hidden;
    position: relative;
    .inner_carousel {
        display: flex;
        min-width: 300%
    }
}

.prev_button {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.next_button {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}