@import '../vars.scss';
@import '../mixins';
@import '../extends';

.about_container {
    display: grid;
    grid-template-columns: 40% 60% ;
    grid-template-rows: auto;
    margin: 10% 18%;
    .item_1 {
        padding-top: 2%;
        .ab_h3_text {
            @include text ($h1, 500);
            color: $txt-color-2;
        }
    }
}

.h1_text {
    color: $txt-color;
    font-size: $h1;
    font-weight:500; 
}

.h3_text {
    color: $txt-color-2;
    font-size: $p;
}
.p_text {
    font-size: $p;
    color: $txt-color;
    padding-top: 1.5rem;
}

.line {
    @extend %line;
}