@import '../vars.scss';
@import '../mixins';
@import '../extends';

.contact_container {
    @include grid-2 (10% 18%);
    .contact-item {
        text-align: left;
    }
    .item_form {
        padding-top: 5%;
    }
}

.h3_text {
    color: $txt-color-2;
    font-size: $p;
}
.p_text {
    font-size: $p;
    color: $txt-color;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
}

.line {
    @extend %line;
}

.contact_item {
    .h1_text {
        color: $txt-color;
        font-size: $h1;
        font-weight:500; 
    }
}

.form {
    .form_row {
        @extend %flex-rev;
        margin: 3% 0 5% 0;
    }
    
    .form_row .inputName, .form_row .inputEmail, .form_row .inputSubject, .form_row textarea {
        @include form (0.5px solid rgba(235, 235, 230, 0.87), 0.5% 0%, 100%);
        padding: 1%;
        border-radius: 3px;
        font-family: 'Inter';
        font-size: 1rem;
    }
    .form_row .inputEmail::placeholder, .form_row .inputName::placeholder, .form_row .inputSubject::placeholder, textarea::placeholder {
            color: $bg-color-2;
            padding: 2% 1%;
        }
    .form_row button {
        @include button (2% 2%);
        color: $txt-color;
        font-size: 1rem;
        background-color: $txt-color-2;
        width: 25%;
        &:hover {
            cursor: pointer;
            background-color: $hov-color;
            color: $bg-color-2;
        }
    }
}